/ViagemPeloTempo/.vs
/ViagemPeloTempo/ViagemPeloTempo/ViagemPeloTempo.csproj.user
/ViagemPeloTempo/ViagemPeloTempo/bin
/ViagemPeloTempo/ViagemPeloTempo/obj
/ViagemPeloTempo/ViagemPeloTempo.DataAccess/bin
/ViagemPeloTempo/ViagemPeloTempo.DataAccess/obj
/ViagemPeloTempo/ViagemPeloTempo.Models/obj
/ViagemPeloTempo/ViagemPeloTempo.Models/bin
