<div class="row">
    <div class="col-md-12 text-center">
        <img src="~/fonts/imagens/logo.jpg" />
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form action="@Url.Action("Jogar", "PagInicio")" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <h2>Notícias</h2>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <a href="@Url.Action("Noticia", "PagInicio")">
                        <img src="~/fonts/imagens/Número-1dino.jpg" height="400" width="350" style="border: 1px solid black" />
                    </a>
                    <a href="@Url.Action("Noticia", "PagInicio")">
                        <img src="~/fonts/imagens/shadowcolossus1.jpg" height="450" width="400" style="border: 1px solid black" />
                    </a>
                    <a href="@Url.Action("Noticia", "PagInicio")">
                        <img src="~/fonts/imagens/numero2.0.jpg" height="400" width="350" style="border: 1px solid black" />
                    </a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-danger" style="width: 900px; height: 50px">Jogar</button>
                </div>
            </div>
        </form>
    </div>
</div>
