<div class="row">
    <div class="col-md-12 text-center">
        <img src="~/fonts/imagens/logo.jpg" />
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form action="@Url.Action("")" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12 text-center">
                   <h3>Notícias</h3>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <img src="~/fonts/imagens/Número-1dino.jpg" />
                    <img src="~/fonts/imagens/noticia 1.jpg" />
                    <img src="~/fonts/imagens/numero2.0.jpg" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-danger">Jogar</button>
                </div>
            </div>
        </form>
    </div>
</div>
