@model ViagemPeloTempo.Models.Questao



<div class="row">
    <div class="col-md-12 text-center">
        <h3>Desbrave atravez da idade antiga</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form action="@Url.Action("PagJogoA", "Jogos")" class="form-horizontal">
            <div class="form-group">
                <img src="~/fonts/imagens/Sky94.png" id="imagemFundo" height="600" width="1000" />
            </div>
            <div class="form-group">
                @Html.Label("lblTexto", string.Format("{0}", Model.Texto), new { @class = "label-control" })
            </div>
            @foreach (var item in Model.Alternativas)
            {
                <div class="form-group">
                    <input type="radio" name="alt" />
                    @Html.Label("lblalt" + item.Id, string.Format("{0}", item.Texto), new { @class = "label-control" })
                </div>
            }
            <div class="form-group">
                <button>Salvar</button>
            </div>
        </form>
    </div>
</div>
