@model ViagemPeloTempo.Models.Fase



<div class="row">
    <div class="col-md-12 text-center">
        <h3>Desbrave atravez da Pré-historia</h3>        
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form action="@Url.Action("")" class="form-horizontal">
            <div class="form-group"> @*texto da questao*@
                <label></label>
            </div>
            <div class="form-group">  @* texto da alternativa 1 *@
                
            </div>           
            <div class="form-group"> @* texto da alternativa 2 *@

            </div>
            <div class="form-group"> @* texto da alternativa 3 *@

            </div>
            <div class="form-group"> @* texto da alternativa 4 *@

            </div>
            <div class="form-group">
                <button>Salvar</button>
            </div>
        </form>
    </div>
</div>
