@model ViagemPeloTempo.Models.Fase



<div class="row">
    <div class="col-md-12 text-center">
        <h3>Desbrave atravez da Pré-historia</h3>        
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form action="@Url.Action("")" class="form-horizontal">
            <div class="form-group">
                
            </div>
            <div class="form-group">
                
            </div>
        </form>
    </div>
</div>
